<%= form_for(@tree) do |f| %>
  <% if @tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
      <% @tree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field_tag :latitude, nil, placeholder: 'latitude' %>
  </div>
  <div class="field">
    <%= hidden_field_tag :longitude, nil, placeholder: 'longitude' %>
  </div>
  Use current location or enter address.
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, placeholder: "Optional" %>
  </div>
  <div class="field">
    <%= f.label :species %><br>
    <%= f.select(:species_id, options_for_select(Species.all.map { |species| [species.common_name, species.id]})) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
