<%= form_for(@tree) do |f| %>
  <% if @tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
      <% @tree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %> <br>
    <%= text_field_tag :latitude, nil, placeholder: 'latitude' %>
  </div>
  <div class="field">
    <%= f.label :longitude %> <br>
    <%= text_field_tag :longitude, nil, placeholder: 'longitude' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :species %><br>
    <%= f.select(:species_id, :scientific_name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
